* {
   margin: 0;
   font-family: "Roboto";
}
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
body {
   --main-color: rgb(255, 255, 255);
   --yel-color: rgb(255, 255, 0);
   --local-color: rgb(164, 165, 166);
   background-image: url(/images/back.jpg);
   background-position: center;
   background-size: cover;
   font-size: 20px;
   color: var(--local-color);
}
.header {
   &__image {
      border-radius: 50%;
   }

   &__infolock {
   }

   &__list {
      display: flex;
      flex-wrap: wrap;
   }

   &__contact {
      width: 50%;
      margin: 14px 0;
   }
}
.conteiner {
   background-color: rgba(45, 46, 46, 0.624);
   min-height: 300px;
   display: flex;
}
.leftside {
   display: flex;
   flex-direction: column;
   align-items: flex-end;
   justify-content: center;
   padding: 50px;
   width: 40%;
}
.rightside {
   padding: 50px 160px 50px 170px;
   width: 60%;
   display: flex;
   flex-direction: column;
   justify-content: center;
}
.localtext {
   font-size: 20px;
   color: var(--local-color);
}
.bolden {
   color: var(--main-color);
   font-weight: 500;
   &__argumentic {
      color: var(--yel-color);
   }
}
.linked {
   color: var(--main-color);
   text-decoration: none;
   transition: all .3s;
   &:hover {
      color: rgb(250, 156, 16);
   }
}
.maintext {
   font-size: 24px;
}
.dics {
   list-style-type: none;
   margin: 12px 0;
   &::before {
      content: "•";
      padding-right: 8px;
      color: var(--yel-color);
   }
}
.darkerback {
   background-color: rgba(43, 44, 44, 0.322);
}
