@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  margin: 0;
  font-family: "Roboto";
}

body {
  --main-color: rgb(255, 255, 255);
  --yel-color: rgb(255, 255, 0);
  --local-color: rgb(164, 165, 166);
  background-image: url(./images/back.jpg);
  background-position: center;
  background-size: cover;
  font-size: 20px;
  color: var(--local-color);
}

@media screen and (max-width: 1300px) {
  body {
    font-size: calc(12px + (8+8 * 0.7) * ((100vw - 320px) / 1300));
  }
}

.header__image {
  border-radius: 50%;
  width: 100%;
  max-width: 268px;
}

.header__list {
  display: flex;
  flex-wrap: wrap;
}

.header__contact {
  width: 50%;
  margin: 14px 0;
}

.darkerback {
  background-color: rgba(43, 44, 44, 0.322);
}

.conteiner {
  background-color: rgba(45, 46, 46, 0.624);
  min-height: 300px;
  max-width: 1920px;
  display: flex;
  margin: 0px auto;
}

@media screen and (max-width: 410px) {
  .conteiner:first-child > .rightside {
    padding: 0 4% 0 4%;
  }
  .conteiner:nth-child(n + 2) {
    min-height: 0px;
    width: 100%;
    display: block;
    height: auto;
  }
  .conteiner:nth-child(n + 2) > .leftside {
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: rgba(43, 44, 44, 0.39);
  }
  .conteiner:nth-child(n + 2) > .rightside {
    box-sizing: border-box;
    width: 100%;
    background-color: rgba(43, 44, 44, 0.082);
  }
  .conteiner:nth-child(n + 2) > .rightside > .stattable {
    padding-left: 20px;
  }
}

.leftside {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 40%;
}

@media screen and (max-width: 600px) {
  .leftside {
    width: 30%;
    text-align: center;
  }
}

.rightside {
  padding: 20px 120px;
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 1300px) {
  .rightside {
    padding: 50px 8% 50px 8%;
  }
}

@media screen and (max-width: 600px) {
  .rightside {
    width: 70%;
    padding: 50px 5% 50px 5%;
  }
}

.localtext {
  font-size: 20px;
  color: var(--local-color);
}

@media screen and (max-width: 1300px) {
  .localtext {
    font-size: calc(10px + (10+10 * 0.7) * ((100vw - 320px) / 1300));
  }
}

.bolden {
  color: var(--main-color);
  font-weight: 500;
}

@media screen and (max-width: 1300px) {
  .bolden {
    font-size: calc(14px + (6+6 * 0.7) * ((100vw - 320px) / 1300));
  }
}

.bolden__argumentic {
  color: var(--yel-color);
}

@media screen and (max-width: 1300px) {
  .bolden__argumentic {
    font-size: calc(14px + (6+6 * 0.7) * ((100vw - 320px) / 1300));
  }
}

.linked {
  color: var(--main-color);
  text-decoration: none;
  transition: all 0.3s;
}

.linked:hover {
  color: #fa9c10;
}

.maintext {
  font-size: 24px;
  font-weight: 300;
}

@media screen and (max-width: 1300px) {
  .maintext {
    font-size: calc(10px + (10+10 * 0.7) * ((100vw - 320px) / 1300));
  }
}

.dics {
  list-style-type: none;
  margin: 12px 0;
}

.dics::before {
  content: "•";
  padding-right: 8px;
  color: var(--yel-color);
}
